body {
  background-color: #fafffa;
  margin: 0;
}

body:after {
    z-index: -1;
    visibility: hidden;
    content: url(../images/memoji.png) url(../icons/github.png) url(../icons/medium.png) url(../icons/twitter.png) url(../icons/linkedin.png) url(../icons/resume.png) url(../icons/email.png);
}

h1 {
  color: #333;
  font-size: 34px;
  -webkit-margin-after: 0px;
}

c2 {
  color: #333;
  font-size: 14px;
  font-style: normal;
  font-weight: lighter;
  line-height: 1.4em;
  margin-top: 16px;
  margin-left: 28px;
  margin-right: 28px;
  -webkit-margin-start: 28px;
  -webkit-margin-after: 28px;
  max-width: 500px;
  line-height: 150%;
}

a:link {
  color: #4a4a4a;
  text-decoration: none;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #cccccc;
}

a:visited {
  color: #4a4a4a;
  text-decoration: none;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #cccccc;
}

a:hover, a:active {
  color: #4a4a4a;
  border-bottom-color: #000;
  transition: border-color 170ms ease-in-out;
}

.linkButton:link  {
  border-bottom-style: none;
}

.nikhil {
  width: 200px;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-family: monserrat, sans-serif;
}

.divider {
  display: flex;
  flex-direction: row;
  text-align: left;
  align-items: flex-start;
  height: 54px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.resume {
  width: 36px;
  height: 36px;
  background-size: 95%;
  background-image: url(../icons/resume_grey.png);
  background-repeat: no-repeat;
  transition: all 300ms ease;
}

.resume:hover, .resume:focus {
  background-image: url(../icons/resume.png);
}

.medium {
  width: 36px;
  height: 36px;
  background-size: 95%;
  background-image: url(../icons/medium_grey.png);
  background-repeat: no-repeat;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.medium:hover, .medium:focus {
  background-image: url(../icons/medium.png);
}

.email {
  width: 36px;
  height: 36px;
  background-size: 95%;
  background-image: url(../icons/email_grey.png);
  background-repeat: no-repeat;
  transition: all 300ms ease;
}

.email:hover, .email:focus {
  background-image: url(../icons/email.png);
}

.twitter {
  width: 36px;
  height: 36px;
  background-size: 100%;
  background-image: url(../icons/twitter_grey.png);
  background-repeat: no-repeat;
  transition: all 300ms ease;
}

.twitter:hover, .twitter:focus {
  background-image: url(../icons/twitter.png);
}

.github {
  width: 36px;
  height: 36px;
  background-size: 100%;
  background-image: url(../icons/github_grey.png);
  background-repeat: no-repeat;
  transition: all 300ms ease;
}

.github:hover, .github:focus {
  background-image: url(../icons/github.png);
}

.linkedin {
  width: 36px;
  height: 36px;
  background-size: 95%;
  background-image: url(../icons/linkedin_grey.png);
  background-repeat: no-repeat;
  transition: all 300ms ease;
}

.linkedin:hover, .linkedin:focus {
  background-image: url(../icons/linkedin.png);
}

.linkButton {
  background-position: center;
  display: block;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0;
  margin-top: 0;
  margin-right: 22px;
  padding: 0px;
}

/* For non-mobile devices */
@media (min-width: 48em) {

  h1 {
    font-size: 54px;
  }

  c1, c2 {
    font-size: 16px;
  }
}
